@charset "UTF-8";
.fullFormContent {
  background-color: white;
}

.mainPicture {
  position: relative;
  justify-content: center;
  display: flex;
}

.formBackground {
  min-width: 430px;
  width: 100%;
  height: 540px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gradient {
  background: linear-gradient(90deg, rgb(44, 66, 149) 0%, rgba(37, 129, 196, 0.43) 100%);
  width: 100%;
  height: 540px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  width: 80%;
  top: 50px;
  margin-right: auto;
  margin-left: auto;
  right: 20px;
}

.textIntro {
  font-family: work sans;
  font-size: 40px;
  font-weight: bold;
  color: white;
  z-index: 2;
  top: 0;
  left: 0;
  margin: 0;
}

.textIntroSecond {
  font-family: work sans;
  font-size: 20px;
  font-weight: 300;
  color: white;
  z-index: 2;
  margin: 0;
  top: 0;
  left: 0;
  width: 80%;
}

.formSection {
  display: flex;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url("../assets/backgroundForm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}

.formBlur {
  width: 90%;
  height: 110%;
  border-radius: 20px;
  background: rgba(233, 233, 233, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  box-shadow: 7px 7px 13px rgb(116, 116, 116);
}

.contactUs {
  text-align: center;
  color: rgb(44, 66, 149);
  font-family: work sans;
  font-size: 36px;
  text-align: center;
}

.formInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputContainer {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
}

.input {
  border: none;
  border-bottom: solid 1px #979797;
  background-color: transparent;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: work sans;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
  z-index: 10;
}

.input:focus {
  outline: none;
}

.correctContainer {
  position: absolute;
  right: 0px;
  top: 50%;
  transition: opacity 0.3s ease-in-out;
}

.correctContainer.hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.correct {
  width: 30px;
}

.selectContainer {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 250px;
  height: 50px;
  width: 90%;
  margin-bottom: 30px;
  transition: ease-in-out 0.3s;
}

.select {
  width: 100%;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-bottom: solid 1px #979797;
  background-color: transparent;
  font-size: 24px;
}

.iconContainer {
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #979797;
  bottom: 5px;
}

.submitButton {
  background-color: #0066FF;
  border: none;
  color: white;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: ease-in-out 0.3s;
}

.loader {
  animation: rotate 1s linear infinite;
}

.submitButton.disabled {
  background-color: #666666;
  border: none;
  color: white;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  opacity: 0.5;
}

#company {
  width: 100%;
}

.small {
  color: red;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 15px;
  top: 90%;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.messageContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.iframeContainer {
  display: none;
}

.inputTitle {
  opacity: 0;
  width: -moz-fit-content;
  width: fit-content;
  transform: translate(0%, 200%);
}

.inputTitleDisplayed {
  transition: 400ms;
  opacity: 1;
  transform: translate(0%, 80%);
  font-family: work sans;
  color: rgb(44, 66, 149);
  font-weight: 500;
}

.smallMessage {
  margin-bottom: 3rem;
  position: relative;
}

@media screen and (min-width: 1000px) {
  .formBlur {
    width: 50%;
    height: auto;
  }
  .formInput {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .inputContainer {
    width: 34%;
    display: flex;
    flex-direction: column;
  }
  .selectContainer {
    width: 94%;
  }
  .mapContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 400px;
  }
  .input.textArea {
    margin-top: 5rem;
  }
  .input {
    height: -moz-fit-content;
    height: fit-content;
    overflow: auto;
  }
  .iconContainer {
    right: 20px;
  }
  .inputTitle {
    opacity: 0;
    width: -moz-fit-content;
    width: fit-content;
    transform: translate(0%, 200%);
    margin-bottom: 0;
  }
  .inputTitleDisplayed {
    transition: 400ms;
    opacity: 1;
    transform: translate(0%, -11%);
    font-family: work sans;
    color: rgb(44, 66, 149);
    font-weight: 500;
  }
  .smallMessage {
    margin-bottom: 3rem;
    position: relative;
  }
  .textContainer {
    width: -moz-fit-content;
    width: fit-content;
    right: auto;
    top: auto;
  }
  .mainPicture {
    align-items: center;
  }
  .formSection {
    flex-direction: column;
    align-items: center;
    background-size: auto;
  }
  .iframeContainer {
    display: block;
    margin-top: 10rem;
    margin-bottom: 14rem;
  }
  .small {
    top: 85%;
  }
  .correctContainer {
    right: -20px;
    top: 45%;
  }
  :global .coucou {
    margin-top: 15px;
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill { /* Enlever le background */
    box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset; /* Enlever le background */
    -webkit-text-fill-color: #000 !important; /* Appliquer la couleur du texte */
    font-family: work sans !important; /* Appliquer le style de police par défaut */
    font-size: 24px !important; /* Appliquer la taille de police par défaut */
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s; /* Eviter le clignotement */
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=Form.module.css.map */