.RealisationsGlobal{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    position: relative;
}
.RealisationsText{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.RealisationsTitle{
    text-align: center;
    color: #0556CE;
    font-family: inter;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    text-shadow: 1px 1px 2px rgb(66, 66, 66);
}
.RealisationsContent{
    display: none;
}
.RealisationsPicture{
    width: 80%;
    box-sizing: border-box;
    border-radius: 10px;
}
// [class^="_reverse"]{
//     display: none;
//  }

.reverseRealisationsGlobal{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    position: relative;
}
.reverseRealisationsText{
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.reverseRealisationsPicture{
    width: 80%;
    box-sizing: border-box;
    border-radius: 10px;
}
.reverseRealisationsTitle{
    text-align: center;
    color: #0556CE;
    font-family: inter;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    text-shadow: 1px 1px 2px rgb(66, 66, 66);
}
.reverseRealisationsContent{
   display: none;
}

.fullscreenOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.fullscreenOverlay.show {
    opacity: 1;
    visibility: visible;
}

.fullscreenImage {
    max-width: 90%;
    max-height: 90%;
    transform: scale(0.8);
    transition: transform 0.5s ease;
}

.fullscreenImage.show {
    transform: scale(1);
}


@media screen and (min-width: 1000px){

.mainRealisationContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.RealisationsGlobal{
    display: flex;
    border-radius: 10px;
    width: 77%;
    position: static;
    flex-direction: row;
    align-items: normal;
    transition: 250ms;
}
.RealisationsGlobal:hover{
    transform: scale(1.05);
}
.RealisationsText{
    position: static;
    background-color: white;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 100px;
    border-radius: 10px 0px 0px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: translate(0%,0%);
}
 .RealisationsTitle{
    margin-bottom: 25%;
    margin-top: 5%;
    color: #0556CE;
    font-size: 32px;
    font-family: inter;
    font-weight: bold;
    text-align: start;
 }
 .RealisationsContent{
    color: #0556CE;
    font-family: inter;
    font-size: 20px;
    margin: 0;
    display: block;
}
.RealisationsPicture{
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 0px 10px 10px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.reverseRealisationsGlobal{
    display: flex;
    border-radius: 10px;
    width: 77%;
    position: static;
    flex-direction: row-reverse;
    align-items: normal;
    margin-bottom: 50px;
    transition: 250ms;
}
.reverseRealisationsGlobal:hover{
    transform: scale(1.05);
}
.reverseRealisationsText{
    position: static;
    background-color: #0A60E1;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: translate(0%,0%);
    border-radius: 0px 10px 10px 0px;
}
.reverseRealisationsPicture{
    width: 50%;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px 0px 0px 10px;
}
.reverseRealisationsTitle{
    margin-bottom: 25%;
    margin-top: 5%;
    color: #ffffff;
    font-size: 32px;
    font-family: inter;
    font-weight: bold;
    text-align: start;
}
.reverseRealisationsContent{
    color: #ffffff;
    font-family: inter;
    font-size: 20px;
    margin: 0;
    display: block;
}
}