.stickyNav {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 120px;
}

.burger {
  width: 50px;
  margin-right: 14%;
}

.ATpartnersLogo {
  width: 60px;
  height: 60px;
  margin-left: 10%;
  margin-right: 2%;
  cursor: pointer;
}

.ATtitle {
  font-family: mitr;
  color: rgb(44, 66, 149);
  font-weight: 400;
  cursor: pointer;
}

.navDesktop {
  display: flex;
  align-items: center;
  height: 120px;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-left: 1%;
  width: 30%;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 34%;
  font-size: 14px;
}

li {
  list-style-type: none;
  font-weight: bold;
  font-family: inter;
  transition: 150ms ease-in-out;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  text-decoration-color: transparent;
  border-radius: 5px;
  color: black;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  text-decoration-color: #0066FF;
  filter: drop-shadow(0px 10px 9px #0066FF);
}

.contactutton {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: #0066FF;
  color: white;
  border: none;
  margin-left: auto;
  margin-right: 3%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  font-family: inter;
}

.contactutton:hover {
  cursor: pointer;
  background-color: #0052CC;
  scale: 1.05;
  transition: 250ms;
}

.stickyNav.scrolled {
  height: 65px;
  background-color: rgba(44, 67, 149, 0.6745098039);
  transition: 400ms;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.navDesktop.scrolled {
  transition: 400ms;
  height: 65px;
}

.liNav.scrolled {
  transition: 400ms;
  color: white;
}

.ATtitle.scrolled {
  transition: 400ms;
  color: white;
  cursor: pointer;
}

.contactButtonContainer {
  margin-left: auto;
  margin-right: 3%;
}

@media screen and (max-width: 1000px) {
  .stickyNav {
    display: none;
  }
  .navDesktop {
    display: none;
  }
  .ATpartnersLogo {
    margin-right: auto;
  }
  .burger {
    width: 50px;
    margin-right: 14%;
  }
  .ATtitle {
    font-family: mitr;
    color: rgb(44, 66, 149);
    font-weight: 400;
  }
  .logoContainer {
    display: flex;
    align-items: center;
    margin-left: 1%;
    width: 30%;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34%;
    font-size: 14px;
  }
  li {
    list-style-type: none;
    font-weight: bold;
    font-family: inter;
  }
  li:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    text-decoration-color: #0066FF;
  }
  .contactutton {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: #0066FF;
    color: white;
    border: none;
    margin-left: auto;
    margin-right: 3%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-family: inter;
  }
  .contactutton:hover {
    cursor: pointer;
    background-color: #0052CC;
    scale: 1.05;
    transition: 250ms;
  }
}/*# sourceMappingURL=NavBarDesktop.module.css.map */