body{
    margin: 0;
    padding: 0;
  }
  .owerEnterprisesTitle{
    font-size: 32px;
    font-weight: bolder;
    color: #2C4295;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: "work sans";
  }
  