body{
    margin: 0;
    padding: 0;
  }
  .owerEnterprisesTitle{
    font-family: inter;
    font-size: 32px;
    font-weight: bold;
    color: #2C4295;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  